<!DOCTYPE html>
<html>
  <head>
    <title>CleanEx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- load JS files -->
    <%= javascript_include_tag 'jquery-1.11.3.min', 'bootstrap.min', 'hero-slider-main', 'jquery.magnific-popup.min'  %>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
